<h2><%= (@path || "").capitalize %></h2>
<div class="row">
  <div class="span8">
    <p>Synapps was founded in 2012 by two Montreal developers who wanted more than just code. A business should be about delivering great value to all the stakeholders involved, not just the shareholders. The current workplace is not aligned  developers who are aspiring to greatness. We think that a business should start by generating value to their closest stakeholders, their workers.</p>
  </div>
</div>